workflows/LinkedIn Posts Lead Gen.json
{
  "name": "LinkedIn Posts Lead Gen",
  "nodes": [
    {
      "parameters": {
        "path": "76451c25-ad68-413a-a54f-54fb7bd02855",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        408
      ],
      "id": "a1886eb4-a684-4e8c-a15b-68b1513ad358",
      "name": "Webhook Trigger",
      "webhookId": "76451c25-ad68-413a-a54f-54fb7bd02855"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json || {};\n\n  // 1) get keywords (handle trailing spaces in keys)\n  const keywords = (data[\"Search Keywords \"] || data[\"Search Keywords\"] || data[\"Search Keywords\"]?.toString() || '').toString().trim();\n\n  // 2) find possible sort value by scanning keys first (keys that include 'sort' or 'order')\n  let sortRaw = '';\n  // preferred explicit keys to check in order\n  const preferKeys = [\"Sort By \", \"Sort By\", \"SortBy\", \"sort_by\", \"sort\", \"Order\", \"Order By\", \"order_by\"];\n  for (const k of preferKeys) {\n    if (Object.prototype.hasOwnProperty.call(data, k) && data[k] != null && ('' + data[k]).toString().trim() !== '') {\n      sortRaw = ('' + data[k]).toString().trim();\n      break;\n    }\n  }\n\n  // if not found, fallback to scanning any key name that contains 'sort' or 'order'\n  if (!sortRaw) {\n    for (const k of Object.keys(data)) {\n      if (k.toLowerCase().includes('sort') || k.toLowerCase().includes('order')) {\n        const val = ('' + data[k]).toString().trim();\n        if (val) {\n          sortRaw = val;\n          break;\n        }\n      }\n    }\n  }\n\n  // 3) if still not found, check values of other fields just in case someone typed the word inside another input\n  if (!sortRaw) {\n    for (const k of Object.keys(data)) {\n      const val = ('' + data[k]).toString().trim();\n      if (/^(latest|recent|top match|top-match|relevance|best|date_posted|date posted|date)$/i.test(val)) {\n        sortRaw = val;\n        break;\n      }\n    }\n  }\n\n  // Normalize sort value\n  const sortNormalized = (sortRaw || 'latest').toString().trim().toLowerCase();\n\n  // Map via regex to cover many variants\n  let mappedSort;\n  if (/latest|recent|date|date_posted|date posted/i.test(sortNormalized)) {\n    mappedSort = 'date_posted';\n  } else if (/top|match|relev|best|priority/i.test(sortNormalized)) {\n    mappedSort = 'relevance';\n  } else {\n    // final fallback\n    mappedSort = 'date_posted';\n  }\n\n  // 4) datePosted mapping (robust)\n  const datePostedRaw = (data[\"Date Posted Filter \"] || data[\"Date Posted\"] || data[\"Date Posted Filter\"] || data[\"date_posted\"] || '').toString().trim().toLowerCase();\n  const dp = datePostedRaw;\n  let mappedDate;\n  if (/24/.test(dp) || /past.*24/.test(dp) || /past.*24h/.test(dp) || /24h/.test(dp) || /24 hours/.test(dp)) {\n    mappedDate = 'past-24h';\n  } else if (/week/.test(dp)) {\n    mappedDate = 'past-week';\n  } else if (/month/.test(dp) || dp === '') {\n    mappedDate = 'past-month';\n  } else {\n    mappedDate = 'past-month';\n  }\n\n  // Build URL\n  const baseUrl = 'https://www.linkedin.com/search/results/content/';\n  const q = [];\n\n  if (keywords) q.push('keywords=' + encodeURIComponent(keywords));\n  q.push('datePosted=' + encodeURIComponent(mappedDate));\n  q.push('sortBy=' + encodeURIComponent(mappedSort));\n  q.push('origin=FACETED_SEARCH');\n\n  const constructedUrl = baseUrl + '?' + q.join('&');\n\n  results.push({\n    json: { constructedUrl }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        80
      ],
      "id": "0710adbe-342c-4443-b2aa-252b05b87fab",
      "name": "Construct LinkedIn Post Search URL"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post: {{ $('Search LinkedIn for Related Posts').item.json.text }}\n\nAuthor Type: {{ $json.authorType }}\n\nAuthor Name: {{ $('Search LinkedIn for Related Posts').item.json.authorName }}\n\nSender's name: {{ $('Google Sheets Trigger').item.json.Name }}\n\nSender's Company: {{ $('Google Sheets Trigger').item.json.Company }}\n\nMessage Tone of voice: {{ $('Google Sheets Trigger').item.json['Tone of Voice  '] }}\n\nMessage goal: {{ $('Google Sheets Trigger').item.json['Message Goal  '] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in writing LinkedIn outreach messages that are short, informal, and feel like friendly, helpful check-ins — never like a pitch.\n\nThe sender represents a company or professional brand. However, you must not push their offering or background unless it flows naturally. The goal is to spark a light, human conversation — not to sell, pitch, or offer unsolicited help unless the recipient opens the door.\n\nYou will write 3 sequential LinkedIn messages to someone who recently posted about something relevant to the sender’s interests or goals.\n\nYour writing must reflect the provided Message Goal and Tone of Voice (e.g., starting a relationship, exchanging ideas, exploring collaboration, showing support). This goal and tone should subtly guide the flow and direction of the conversation across the three messages — without being overt, pushy, or repetitive.\n\nAdapt based on Author Type:\nIf Author Type is Person, greet them using their first name in a warm, friendly way (e.g., “Hey Miriam,”).\nIf Author Type is Company, use a casual team-oriented greeting (e.g., “Hi there,” or “Hey team,”).\n\nMessage Guidelines\nEach message must:\n\nBe under 300 characters\n\nSound casual, human, and friendly\n\nBegin with a polite, conversational greeting\n\nShow genuine interest in their post or topic\n\nMention the sender’s name or company lightly and only if natural in the first message\n\nAvoid repeating the same ideas or offering help repeatedly\n\nUse a progressive structure: each message builds on the last\n\nSubtly reflect the intent behind the Message Goal\n\nMessage Breakdown\n\nMessage 1: Warm intro showing awareness of their post. Express curiosity, encouragement, or shared interest. Mention sender/company naturally, only if it fits.\n\nMessage 2: Friendly check-in. Ask a thoughtful question or reflect briefly on a related theme. Keep it social and open-ended.\n\nMessage 3: Casual follow-up. Don’t repeat yourself. Keep the door open with something like “Happy to connect anytime” or “Always up for a quick chat.”\n\nOutput format:\n{\n  \"message_1\": \"[First message here]\",\n  \"message_2\": \"[Second message here]\",\n  \"message_3\": \"[Third message here]\"\n}\nDo not include explanations, notes, or formatting instructions. Just return the 3 messages in the format above.\n\nMake it real, relaxed, and easy to engage with — like someone they'd be happy to reply to."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        528,
        80
      ],
      "id": "cf24a9ce-7294-4d56-b8ba-148f96a3d42e",
      "name": "Generate LinkedIn Outreach Message Sequence"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const rawText = item.json.text;\n\n  try {\n    const parsed = JSON.parse(rawText);\n\n    results.push({\n      json: {\n        message_1: parsed.message_1,\n        message_2: parsed.message_2,\n        message_3: parsed.message_3,\n      }\n    });\n\n  } catch (err) {\n    // In case JSON parsing fails, return the raw text with an error message\n    results.push({\n      json: {\n        error: \"Failed to parse message JSON\",\n        originalText: rawText\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        80
      ],
      "id": "9c878ff0-4c28-42ec-a6b9-f7ce125aa5c8",
      "name": "Parse the Messages"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NTknaPXaOmYnFNiQKUW22Z3T5jZpefaWY9GnzT4oo0c",
          "mode": "list",
          "cachedResultName": "LinkedIn Lead Gen & Outreach Message Builder  (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTknaPXaOmYnFNiQKUW22Z3T5jZpefaWY9GnzT4oo0c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1008879488,
          "mode": "list",
          "cachedResultName": "Retrieved Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTknaPXaOmYnFNiQKUW22Z3T5jZpefaWY9GnzT4oo0c/edit#gid=1008879488"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Search Keywords ": "={{ $('Google Sheets Trigger').item.json[\"Search Keywords \"] }}",
            "Date Posted Search Option": "={{ $('Google Sheets Trigger').item.json[\"Date Posted Filter \"] }}",
            "Sort By Option": "={{ $('Google Sheets Trigger').item.json[\"Sort By  \"] }}",
            "User Name": "={{ $('Google Sheets Trigger').item.json.Name }}",
            "User Company Name": "={{ $('Google Sheets Trigger').item.json.Company }}",
            "User Email": "={{ $('Google Sheets Trigger').item.json.Email }}",
            "User LinkedIn Profile URL": "={{ $('Google Sheets Trigger').item.json[\"LinkedIn Profile URL\"] }}",
            "Tone of Voice": "={{ $('Google Sheets Trigger').item.json[\"Tone of Voice  \"] }}",
            "Message Goal": "={{ $('Google Sheets Trigger').item.json[\"Message Goal  \"] }}",
            "Message 1": "={{ $json.message_1 }}",
            "Message 2": "={{ $json.message_2 }}",
            "Message 3": "={{ $json.message_3 }}",
            "ID": "={{ $('Search LinkedIn for Related Posts').item.json.urn }}",
            "Post": "={{ $('Search LinkedIn for Related Posts').item.json.text }}",
            "Post URL": "={{ $('Search LinkedIn for Related Posts').item.json.url }}",
            "Time of Post": "={{ $('Search LinkedIn for Related Posts').item.json.postedAtISO }}",
            "Author Type": "={{ $('Search LinkedIn for Related Posts').item.json.authorType }}",
            "Author Profile": "={{ $('Search LinkedIn for Related Posts').item.json.authorProfileUrl.split(\"?\")[0] }}",
            "Author Name": "={{ $('Search LinkedIn for Related Posts').item.json.authorName }}",
            "Author First Name": "={{ $('Search LinkedIn for Related Posts').item.json.author.firstName }}",
            "Author Last Name": "={{ $('Search LinkedIn for Related Posts').item.json.author.lastName }}",
            "Author Headline": "={{ $('Search LinkedIn for Related Posts').item.json.author.occupation }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time of Post",
              "displayName": "Time of Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author Type",
              "displayName": "Author Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author Name",
              "displayName": "Author Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author First Name",
              "displayName": "Author First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author Last Name",
              "displayName": "Author Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author Profile",
              "displayName": "Author Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author Headline",
              "displayName": "Author Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Search Keywords ",
              "displayName": "Search Keywords ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Posted Search Option",
              "displayName": "Date Posted Search Option",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sort By Option",
              "displayName": "Sort By Option",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Name",
              "displayName": "User Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Company Name",
              "displayName": "User Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Email",
              "displayName": "User Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User LinkedIn Profile URL",
              "displayName": "User LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tone of Voice",
              "displayName": "Tone of Voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Goal",
              "displayName": "Message Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message 1",
              "displayName": "Message 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message 2",
              "displayName": "Message 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message 3",
              "displayName": "Message 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        80
      ],
      "id": "d6213023-f37e-481b-ad8e-f0862d2d0362",
      "name": "Add Posts to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QPsmUAFxD8iiWTqC",
          "name": "Uche's Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        600,
        304
      ],
      "id": "ed51549c-33e2-40eb-a20a-77846627e65a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4gqanI5K9izarRWa",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1NTknaPXaOmYnFNiQKUW22Z3T5jZpefaWY9GnzT4oo0c",
          "mode": "list",
          "cachedResultName": "LinkedIn Lead Gen & Outreach Message Builder  (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTknaPXaOmYnFNiQKUW22Z3T5jZpefaWY9GnzT4oo0c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1688672751,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTknaPXaOmYnFNiQKUW22Z3T5jZpefaWY9GnzT4oo0c/edit#gid=1688672751"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        80
      ],
      "id": "da43e24e-b8cb-48d7-ae70-6774ef2d2231",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ERl3qgYxlemIrldK",
          "name": "Uche - Google Sheets Trigger"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "Wpp1BZ6yGWjySadk3",
          "mode": "list",
          "cachedResultName": "Linkedin Post Scraper ✅ No cookies ✅ $2 per 1k posts (supreme_coder/linkedin-post)",
          "cachedResultUrl": "https://console.apify.com/actors/Wpp1BZ6yGWjySadk3/input"
        },
        "customBody": "{\n    \"deepScrape\": true,\n    \"limitPerSource\": 10,\n    \"rawData\": false,\n    \"urls\": [\n        \"{{ $json.constructedUrl }}\"\n    ]\n}",
        "memory": 512,
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        304,
        80
      ],
      "id": "432a7a62-e270-4582-af71-dea9e3d2c0c8",
      "name": "Search LinkedIn for Related Posts",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "Nl1l0FUZdHPSOCPL",
          "name": "Uche - Dreem Apify"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "keywords": "AI in healthcare trends",
          "date_posted": "past_week",
          "sort_by": "latest",
          "client": {
            "name": "Jane Doe",
            "company_name": "TechHire Solutions",
            "email": "jane@techhire.com",
            "linkedin_profile_url": "https://www.linkedin.com/in/janedoe/"
          },
          "tone_of_voice": "Friendly and insightful",
          "message_goal": "Start a conversation around the topic and explore collaboration"
        }
      }
    ],
    "Google Sheets Trigger": [
      {
        "json": {
          "Timestamp": "10/13/2025 12:48:03",
          "Search Keywords ": "AI in healthcare trends",
          "Date Posted Filter ": "Past 24 hours",
          "Sort By  ": "Latest",
          "Name": "Jane Doe",
          "Company": "TechHire Co",
          "Email": "janedone@techhireco.com",
          "LinkedIn Profile URL": "https://www.linkedin.com/in/janedoe/",
          "Tone of Voice  ": "Friendly and insightful",
          "Message Goal  ": "Start a conversation around the topic and explore collaboration."
        }
      }
    ],
    "Construct LinkedIn Post Search URL": [
      {
        "json": {
          "constructedUrl": "https://www.linkedin.com/search/results/content/?keywords=AI%20in%20healthcare%20trends&datePosted=past-24h&sortBy=date_posted&origin=FACETED_SEARCH"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        []
      ]
    },
    "Construct LinkedIn Post Search URL": {
      "main": [
        [
          {
            "node": "Search LinkedIn for Related Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Outreach Message Sequence": {
      "main": [
        [
          {
            "node": "Parse the Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the Messages": {
      "main": [
        [
          {
            "node": "Add Posts to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate LinkedIn Outreach Message Sequence",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Construct LinkedIn Post Search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn for Related Posts": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Outreach Message Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "tXQ8gQkD8HP1mkXQ"
  },
  "versionId": "b2f22822-b794-4b4f-a84e-cf405327a436",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fb639298be443e844be3206b20ad7955a5b5bab10f6930c436a39138d726f19"
  },
  "id": "PhqQExh41COiWfqY",
  "tags": []
}